.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 10px;
}

.category {
  width: 800px;
  height: 80px;
  display: flex;
}

.category_item {
  width: 200px;
  height: 100%;
  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.category_item span {
  cursor: pointer;
}
